.frame {
  background-color: #8f98d6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #8f98d6;
  width: 1440px;
  height: 650px;
  position: relative;
}

.frame .rectangle {
  left: 54px;
  position: absolute;
  width: 225px;
  height: 425px;
  top: 95px;
  object-fit: cover;
}

.frame .img {
  left: 921px;
  position: absolute;
  width: 225px;
  height: 425px;
  top: 95px;
  object-fit: cover;
}

.frame .rectangle-2 {
  left: 1196px;
  position: absolute;
  width: 225px;
  height: 425px;
  top: 95px;
  object-fit: cover;
}

.frame .rectangle-3 {
  left: 625px;
  position: absolute;
  width: 225px;
  height: 425px;
  top: 95px;
  object-fit: cover;
}

.frame .rectangle-4 {
  left: 329px;
  position: absolute;
  width: 225px;
  height: 425px;
  top: 95px;
  object-fit: cover;
}

.frame .text-wrapper {
  top: 541px;
  left: 54px;
  position: absolute;
  width: 230px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-2 {
  top: 541px;
  left: 1196px;
  position: absolute;
  width: 230px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-3 {
  top: 536px;
  left: 921px;
  position: absolute;
  width: 230px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-4 {
  top: 536px;
  left: 625px;
  position: absolute;
  width: 230px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-5 {
  top: 536px;
  left: 329px;
  position: absolute;
  width: 230px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

