.frame {
  background-color: #8f98d6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #8f98d6;
  width: 1440px;
  height: 650px;
  position: relative;
}

.frame .text-wrapper {
  width: 585px;
  top: 46px;
  left: 427px;
  font-size: 72px;
  position: absolute;
  font-family: "Ubuntu Mono-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .experiment {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 225px;
  left: 30px;
  background-image: url(./images/experiments_1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .experiment-2 {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 225px;
  left: 305px;
  background-image: url(./images/experiments_2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .text-wrapper-2 {
  width: 225px;
  top: 476px;
  left: 30px;
  font-size: 24px;
  position: absolute;
  font-family: "Ubuntu Mono-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  width: 225px;
  top: 476px;
  left: 305px;
  font-size: 24px;
  position: absolute;
  font-family: "Ubuntu Mono-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-4 {
  width: 225px;
  top: 476px;
  left: 1139px;
  font-size: 24px;
  position: absolute;
  font-family: "Ubuntu Mono-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  width: 225px;
  top: 476px;
  left: 859px;
  font-size: 24px;
  position: absolute;
  font-family: "Ubuntu Mono-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-6 {
  width: 225px;
  top: 476px;
  left: 585px;
  font-size: 24px;
  position: absolute;
  font-family: "Ubuntu Mono-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .experiment-3 {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 225px;
  left: 580px;
  background-image: url(./images/experiments_3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .experiment-4 {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 225px;
  left: 855px;
  background-image: url(./images/experiments_4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .experiment-5 {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 225px;
  left: 1139px;
  background-image: url(./images/experiments_5.png);
  background-size: cover;
  background-position: 50% 50%;
}

