/* Общие стили для body */
body {
    background-color: #8F99D7; 
    margin: 0; 
    font-family: 'Ubuntu Mono', sans-serif; 
}

/* Стили для блока с информацией о планете */
#planet-info {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Стили для солнечной системы */
.solar-system {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black; 
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Общие стили для планет */
.planet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: gray;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.planet:hover {
    transform: scale(1.2); /* Увеличение планеты при наведении */
}

/* Позиции для каждой планеты */
#mercury { top: 50%; left: 20%; background-color: #b8b8b8; }
#venus { top: 50%; left: 30%; background-color: #f2a1a1; }
#earth { top: 50%; left: 40%; background-color: #4fa3f7; }
#mars { top: 50%; left: 50%; background-color: #f77454; }
#jupiter { top: 50%; left: 60%; background-color: #d98934; }
#saturn { top: 50%; left: 70%; background-color: #ffcc99; }
#uranus { top: 50%; left: 80%; background-color: #a1c8d4; }
#neptune { top: 50%; left: 90%; background-color: #4e86b5; }

/* Контейнер с текстом */
.wrapper {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Текст в блоках */
.p {
    margin: 0;
    font-size: 36px;
    font-family: 'Ubuntu Mono', sans-serif;
    color: #fff;
}

/* Кнопки с эффектом */
.div1 {
    position: relative;
    padding: 10px;
    background-color: #48acd7;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    margin: 10px;
    transition: background-color 0.3s;
}

.div1:hover {
    background-color: #3a94b8; /* Эффект изменения фона при наведении */
}

